
body {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
 /* Header */
  .cabecalho {
    padding-top: 20px;
    background: #262627;
    width: 100%;
    height: 55px;
    border-bottom: 5px solid orangered;
  }
  
  .caixa {
    max-width: 100%; 
    height: 100%;
    margin: 0 0 0 70px 
  }

  .caixa b {
    margin-left: 6%;
    margin-top: 200px;
    font-size: 200%;
  }


  .span_projeto {
    color: orangered;
  }

  .span_padrao {
    color: white;
  }
  
  

  .cabecalho nav {
    float: right;
  }
  
  
  ul {
    list-style: none;
    margin-top: 7px;
    margin-right: 100px;
  }
  
  ul li {
    display: inline;
    margin-left: 8px;
    font-size: larger;
  }

  .li_colorido {
    color: orangered;
  }
  
  .li_padrao {
    color: white;
  }

  /* Apresentação */
  .apresentacao {
    background-image: url(./imagens/team.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
  }

  .apresentacao .container {
    max-width: 80%;
    text-align: center;
    margin: 0;
  }

  .apresentacao .container h1 {
    padding-top: 100px;
    color: orangered;
    font-size: 50px;
    margin: 0;
    padding-left: 130px;    
  }

  .apresentacao .container p {
    margin: 0;
    padding-top: 20px;
    font-size: 20px;
    color: white;
    padding-left: 130px;
  }

  /* Atualização */
  .atualizacao {
    background: #262627;
    width: 100%;
    height: 75px;
  }

  .atualizacao .caixa {
    max-height: 100%;
    margin: 0;
  }

  .caixa-input {
    float: right;
    padding-top: 20px;
    margin-right: 50px;
  }

  .atualizacao h2 {
    margin: 0;
    float: left;
    max-height: 100%;
    color: white;
    padding-left: 75px;
    padding-top: 20px;
  }

  .caixa-input button {
    background-color: orangered;
  }

  /* Missão, Valores e Visão */
  .empresa .caixa {
    padding-top: 50px;
    height: 300px;
  }

  .empresa .caixa .missao {
    max-width: 30%;
    float: left;
    text-align: center;
    margin: 0;
  }

  .empresa .caixa .valores {
    max-width: 30%;
    float: left;
    text-align: center;
    margin: 0;
  }

  .empresa .caixa .visao {
    max-width: 30%;
    float: left;
    text-align: center;
    margin: 0;
  }

  .icone {
    width: 100px;
  }

  /* Footer */
  .footer {
    background-color: orangered;
    height: 100px;
    text-align: center;
  }

  .footer p {
    margin: 0;
    color: white;
    padding-top: 40px;
  }



