
body {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
 
  .cabecalho {
    padding-top: 20px;
    background: #262627;
    width: 100%;
    height: 55px;
  }
  
  .caixa {
    max-width: 100%; 
    height: 100%;
    margin: 0 0 0 70px 
  }

  .caixa b {
      margin-left: 6%;
      margin-top: 200px;
      font-size: 200%;
  }


  .span_projeto {

      color: orangered;
  }

  .span_padrao {
      color: white;
  }
  
  

  .cabecalho nav {
    float: right;
  }
  
  
  ul {
    list-style: none;
    margin-top: 7px;
    margin-right: 100px;
  }
  
  ul li {
    display: inline;
    margin-left: 8px;
    font-size: larger;
  }

  .li_home {
      color: orangered;
  }
  
  .li_padrao {
      color: white;
  }